{% extends "::baseSiminta.html.twig" %} {#{% include "::baseSiminta.html.twig" %}#}

{% block contenu %}
    {#{{ include("UtilisateursBundle:Default:menuARH.html.twig") }}
{{ include("GM:GestionDepensesBundle:Default:menuARH.html.twig") }}#}
    Repporting
{% endblock contenu %}



{#{% block menu %}
     {{ include("UtilisateursBundle:Default:menuARH.html.twig") }}
{% endblock menu %}#}


{#<div class="row">
        <!-- Menu Assistant RH -->
        <div class="col-lg-12">
            <div class="alert dropdown-tasks">
                {{ include("UtilisateursBundle:Default:menuARH.html.twig") }}
            </div>
        </div>
        <!--end  Menu Assistant RH -->
    </div>#}